body {
  background: linear-gradient(90deg, #bbe1fa, #9198e5);
}

hr {
  border-style: dotted none none;
  border-width: 7px;
  border-color: #8785a2;
  width: 5%;
}

h1 {
  color: #0f4c75;
  font-family: 'Aladin', cursive;
  font-size: 3rem;
}

h1:hover {
  color: #1b262c;
}

h3 {
  color: #3282b8;
  font-family: 'Neuton', serif;
}

p {
  color: #112d4e;
  font-family: 'Merriweather', serif;
}

.skills {
  font-family: 'Crete Round', serif;
}
